.numPanel{
    display: flex;
    width: 500px;
    height: 500px;
    border: 1px solid salmon;
}
.numItem{
    display: flex;
    width: 70px;
    height: 70px;
}
.numButton{
    width: 70px;
    height: 70px;
    border: 1px solid springgreen;
    justify-content: center;
    align-items: center;
}